/config.h
/config.h.in
/config.log
/config.nice
/config.status
/configure
/configure.ac
/expect.la
/expect.lo
/expect_fopen_wrapper.lo
/libtool
/Makefile
/Makefile.fragments
/Makefile.objects
/run-tests.php
/tests/*.diff
/tests/*.exp
/tests/*.log
/tests/*.php
/tests/*.out
/tests/*.sh
/.libs/
/autom4te.cache/
/build/
/modules/
